# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Output of 'npm pack'
*.tgz

*.idea
*node_modules/*
*.iml
*node-axios-example/node_modules
*node-webhook-listener-batch/labels/*
*node-webhook-listener-batch/node_modules
*node-webhook-listener-track/node_modules
*.vscode
*node-axios-with-retry/node_modules
*/node_modules
*node-axios-manifest/node_modules
node-axios-manifest/manifests